# Visual Studio Geçici Dosyaları
.vs/
out/
build/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.sln.doccache

# Unreal Engine (Eğer klasörde varsa)
Intermediate/
Saved/
DerivedDataCache/
Build/

# İşletim Sistemi Dosyaları
Thumbs.db
Desktop.ini
.DS_Store